<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip !</h1>
    <a href="/gossips/new/">Ajouter un nouveau potin</a>
    <% gossips.each_with_index do |gossip, index| %>
      <p>
        <a href="/gossips/<%= index %>/"><%= gossip.author %></a><br/>
        <%= gossip.content %><br/>
        <a href="/gossips/<%= index %>/edit/">Éditer ce potin</a>
      </p>
    <% end %>
  </body>
</html>
